@model IEnumerable<WeightRecordFrontEnd.ViewModels.RRWeightView>

@{

    var counter = 1;
}
<table class="table" id="myDataTable">
    <thead>
        <tr>
            <th class="text-center">
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.partNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serialBatch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.batchNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-center">
                @counter
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.partNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serialBatch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.batchNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>

        </tr>
            counter++;
        
        }
    </tbody>
</table>

<script>

    $(document).ready(function () {

        $('#myDataTable').DataTable({

            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel'
            ]



        });

    });
</script>
